/* Buttons on web. */

.btn {
  border-color: var(--sphere-main-color);

  &-primary {
    background-color: var(--sphere-main-color);

    &:hover {
      color: var(--sphere-main-color);
      border-color: var(--sphere-main-color);
      background-color: var(--sphere-white-color);
    }
  }

  &-outline-primary {
    color: var(--sphere-main-color);
    background-color: var(--sphere-white-color);

    &:hover {
      border-color: var(--sphere-main-color);
      background-color: var(--sphere-main-color);
    }
  }
}
