/* Buttons on web. */

.btn {
  border-color: var(--sphere-main-color);

  &-primary {
    background-color: var(--sphere-main-color);

    &:hover,
    &:focus,
    &:active {
      color: var(--sphere-main-color);
      border-color: var(--sphere-main-color);
      background-color: var(--sphere-white-color);
      box-shadow: none !important;
    }
  }

  &-outline-primary {
    color: var(--sphere-main-color);
    background-color: var(--sphere-white-color);

    &:hover,
    &:focus,
    &:active {
      border-color: var(--sphere-main-color);
      background-color: var(--sphere-main-color);
      box-shadow: none !important;
    }
  }
}
