/* Footer. */

footer {
  &.site-footer {
    background-color: var(--sphere-footer-background);
    background-image: url("/themes/custom/sphereserver/img/footer_noise.webp");
    background-repeat: repeat;
  }
}
