/* Rewrite Barrio tables to be more bootstrappy. */

table {
  font-size: inherit;

  tr {
    background: inherit;
  }

  td {
    vertical-align: middle;
  }

  thead {
    tr {
      background: var(--sphere-main-color);
    }
  }

  // Views operation to be displayed as buttons.
  .views-field-operations {
    a {
      display: inline-block;
      padding: 0.25rem 1rem;
      text-decoration: none;
      color: var(--sphere-main-color);
      border: 1px solid var(--sphere-main-color);
      border-radius: 6px;

      &:hover,
      &:focus {
        color: var(--sphere-white-color);
        background: var(--sphere-main-color);
      }
    }
  }
}
