parameters:
  level: max
  paths:
    - htdocs/modules/custom
    - htdocs/themes/custom
  excludePaths:
    - *Test.php
    - *TestBase.php
  ignoreErrors:
    -
      identifier: missingType.iterableValue
    - '#^Unsafe usage of new static\(\)\.$#'
