/* Variables. */

:root {
  --sphere-main-color: #023167;
  --sphere-white-color: #fff;
  --sphere-footer-background: #202020;
  --bs-link-color: var(--sphere-main-color);
  --bs-breadcrumb-divider: "|";
}
